*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif ;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: darkgrey;
    color: #FFF;
}

header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1{
    font-size: 3rem;
    font-weight: 300;
    color: darkcyan;
    margin-bottom: 1rem;
}

#new-task-form {
    display: flex;
}

input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input{
    flex: 1 1 0%;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: lightblue;
    font-size: 1.25rem;
}

#new-task-input::placeholder{
    color: gray;
}

#new-task-submit {
    color: blue;
    font-size: 1.25rem;
    background-image: linear-gradient(to right, pink);
    cursor: pointer;
    transition: 0.4s;
}

#new-task-submit:hover {
    opacity: 0.8;
}

#new-task-submit:active{
    opacity: 0.6;
}

main {
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 1rem;
}

.task-list h2{
    font-size: 1.5rem;
    font-weight: 300;
    color: gray;
    margin-bottom: 1rem;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#tasks .task .content .text {
    color: #aaa;
    font-size: 1.025rem;
    width: 100%;
    display: block;
    transition: 0.4;
}

#tasks .task .actions{
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button{
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.025rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.task .actions button:hover{
    opacity: 0.8;
}

.task .actions button:active{
    opacity: 0.6;
}

.task .actions .edit{
    color: crimson;
}

.task .actions .delete{
    color: crimson;
}

li{
    list-style: none;
}